<form class="form" [formGroup]="formGroup">
  <mat-form-field class="form-field">
    <mat-label>Menu Width</mat-label>
    <input matInput type="number" formControlName="width">
  </mat-form-field>

  <mat-checkbox class="form-field" formControlName="show">
    Show menu that creates with *ngIf directive
  </mat-checkbox>
</form>

<app-menu-with-view-child [width]="formGroup.get('width')?.value">
</app-menu-with-view-child>

<app-menu-with-view-children [width]="formGroup.get('width')?.value" [show]="formGroup.get('show')?.value">
</app-menu-with-view-children>

